<h2><%= @user.name %></h2>
<p><%= @user.bio %></p>

<%= form_for @user, html: {method: "delete"} do |f| %>
  <%= f.submit "Delete #{@user.name}" %>
<% end %>

<p><%= link_to "Users List", users_path %></p>
